<!DOCTYPE html>
<html>
	<%- include partials/head.ejs %>

	<body>
		<div id="app-container">
			<%- include partials/nav.ejs %>
			<%- include partials/privacidad__header.ejs %>
			<%- include partials/privacidad__legal.ejs %>
			<%- include partials/footer.ejs %>
		</div>
		<script src="./js/bundle.js"></script>
	</body>
</html>
